<div>
    <link href="/css/frame1.css" rel="stylesheet" />
    <div>
      <div class="frame1-frame1">
        <div class="frame1-desktop2">
          <span class="frame1-text"><span>Top Songs</span></span>
          <span class="frame1-text002">1</span>
          <span class="frame1-text003">2</span>
          <span class="frame1-text004">3</span>
          <span class="frame1-text005">4</span>
          <span class="frame1-text006">5</span>
          <span class="frame1-text007">6</span>
          <span class="frame1-text008">7</span>
          <span class="frame1-text009">8</span>
          <span class="frame1-text010">9</span>
          <span class="frame1-text011"><span>10</span></span>
          <span class="frame1-text013">
            <span>
              <span>Popularity</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="frame1-text018"><span>Instant Wrapped</span></span>
          <img
            src="/assets/spotify_logo.png"
            alt="spotifylogo13253"
            class="frame1-spotifylogo1"
          />
          <span class="frame1-text020"><span><%= tracksList[0] %></span></span>
          <div class="frame1-frame2">
            <span class="frame1-text022"><span></span></span>
          </div>

          <span class="frame1-text024">
            <span>Here’s the music you’ve been loving lately.</span>
          </span>
        </div>
        <span class="frame1-text026"><span><%= tracksList[1] %></span></span>
        <span class="frame1-text028"><span><%= tracksList[2] %></span></span>
        <span class="frame1-text030"><span><%= tracksList[3] %></span></span>
        <span class="frame1-text032"><span><%= tracksList[4] %></span></span>
        <span class="frame1-text034"><span><%= tracksList[5] %></span></span>
        <span class="frame1-text036"><span><%= tracksList[6] %></span></span>
        <span class="frame1-text038"><span><%= tracksList[7] %></span></span>
        <span class="frame1-text040"><span><%= tracksList[8] %></span></span>
        <span class="frame1-text042"><span><%= tracksList[9] %></span></span>

        <span class="frame1-text044"><span><%= tracksPopularityList[0] %>%</span></span>
        <span class="frame1-text046"><span><%= tracksPopularityList[1] %>%</span></span>
        <span class="frame1-text048"><span><%= tracksPopularityList[2] %>%</span></span>
        <span class="frame1-text050"><span><%= tracksPopularityList[3] %>%</span></span>
        <span class="frame1-text052"><span><%= tracksPopularityList[4] %>%</span></span>
        <span class="frame1-text054"><span><%= tracksPopularityList[5] %>%</span></span>
        <span class="frame1-text056"><span><%= tracksPopularityList[6] %>%</span></span>
        <span class="frame1-text058"><span><%= tracksPopularityList[7] %>%</span></span>
        <span class="frame1-text060"><span><%= tracksPopularityList[8] %>%</span></span>
        <span class="frame1-text062"><span><%= tracksPopularityList[9] %>%</span></span>
        <span class="frame1-text064">
          <span>
            <span>Popularity</span>
            <br />
            <span></span>
          </span>
        </span>
        <span class="frame1-text069"><span><%= artistsPopularityList[0] %>%</span></span>
        <span class="frame1-text071"><span><%= artistsPopularityList[1] %>%</span></span>
        <span class="frame1-text073"><span><%= artistsPopularityList[2] %>%</span></span>
        <span class="frame1-text075"><span><%= artistsPopularityList[3] %>%</span></span>
        <span class="frame1-text077"><span><%= artistsPopularityList[4] %>%</span></span>
        <span class="frame1-text079"><span><%= artistsPopularityList[5] %>%</span></span>
        <span class="frame1-text081"><span><%= artistsPopularityList[6] %>%</span></span>
        <span class="frame1-text083"><span><%= artistsPopularityList[7] %>%</span></span>
        <span class="frame1-text085"><span><%= artistsPopularityList[8] %>%</span></span>
        <span class="frame1-text087"><span><%= artistsPopularityList[9] %>%</span></span>

        <span class="frame1-text089"><span>Top Artists</span></span>
        <span class="frame1-text091">1</span>
        <span class="frame1-text092">3</span>
        <span class="frame1-text093">4</span>
        <span class="frame1-text094">5</span>
        <span class="frame1-text095">7</span>
        <span class="frame1-text096">8</span>
        <span class="frame1-text097">6</span>
        <span class="frame1-text098">9</span>
        <span class="frame1-text099"><span>10</span></span>
        <span class="frame1-text101">2</span>
        
        <span class="frame1-text102"><span><%= artistsList[0] %></span></span>
        <span class="frame1-text104"><span><%= artistsList[1] %></span></span>
        <span class="frame1-text106"><span><%= artistsList[2] %></span></span>
        <span class="frame1-text108"><span><%= artistsList[3] %></span></span>
        <span class="frame1-text110"><span><%= artistsList[4] %></span></span>
        <span class="frame1-text112"><span><%= artistsList[5] %></span></span>
        <span class="frame1-text114"><span><%= artistsList[6] %></span></span>
        <span class="frame1-text116"><span><%= artistsList[7] %></span></span>
        <span class="frame1-text118"><span><%= artistsList[8] %></span></span>
        <span class="frame1-text120"><span><%= artistsList[9] %></span></span>
      </div>
    </div>
  </div>
  